// data
-
  candidateName = {
    lbarton: "Ing. Lukáš Bartoň, Ph.D.",
    pvileta: "Petr Vileta",
    pkasik: "Pavel Kašík",
    pbohuslav: "Petr Bohuslav",
    vboucek: "Ing. Václav Bouček",
    mdankova: "Mgr. Magdalena Daňková",
    ajakl: "Ing. Aleš Jakl",
    jhutter: "Bc. Jan Hutter",
    jrezek: "Ing. Jiří Rezek, Ph.D.",
    shaviar: "RNDr. Stanislav Haviar, Ph.D.",
    vkrutina: "Ing. Viktor Krutina",
    pkopac: "Ing. Petr Kopač",
    acernoch: "Adam Černoch",
    mhuml: "Ing. Michal Huml",
    jcech: "Jakub Čech",
    jberkovec: "Ing. Jiří Berkovec",
    mberanek: "Bc. Martin Beránek",
    kvitovec: "Ing. Karel Vítovec",
    mpotucek: "Bc. Martin Potůček",
    aliska: "Adam Liška",
    vvapenik: "Vladimír Vápeník",
    rmagni: "Robert Magni",
    oskaba: "Ondřej Škába",
    dnova: "Bc. Daniela Nová",
    rvojta: "Ing. Radek Vojta",
    rmatin: "Roland Martin"
  }
  candidateShort = {
    lbarton: "Konstruktér,<br/>vědecký pracovník<br/>Plzeň",
    pvileta: "Živnostník, člen Komise pro otevřený kraj<br/>Plzeň",
    pkasik: "Kvalitář<br/>Neurazy (u Nepomuku)",
    pbohuslav: "Technik jaderných zařízení<br/>Stříbro",
    vboucek: "Programátor<br/>Dobřany",
    mdankova: "Učitelka<br/>Plzeň",
    ajakl: "Lesník<br/>Tachov",
    jhutter: "Technolog<br/>Plzeň",
    jrezek: "Fyzik, vědecký pracovník<br/>Plzeň",
    shaviar: "Fyzik, vědecký pracovník<br/>Klatovy",
    vkrutina: "Projektant",
    pkopac: "Programátor",
    acernoch: "Kulisák",
    mhuml: "Stavař",
    jcech: "IT konzultant",
    jberkovec: "Inspektor",
    mberanek: "Podnikatel",
    kvitovec: "Konstruktér",
    mpotucek: "Vývojář software",
    aliska: "Technik",
    vvapenik: "Obchodní manager",
    rmagni: "Pomocný stavební dělník",
    oskaba: "Servisní technik",
    dnova: "Obchodní manažer",
    rvojta: "Ekonom",
    rmatin: "IT administrátor"
  }
  candidateStory = {
    lbarton: "Je krajským předsedou Pirátů a&nbsp;pracuje na Fakultě strojní v&nbsp;Plzni, kde vede Zkušebnu provozní pevnosti a&nbsp;únavové životnosti. Několik let vyučoval na Katedře konstruování strojů. " +
             "V rámci univerzitního prostředí prošel např. Akademickými senáty univerzity i&nbsp;fakulty, komisí pro prošetřování studia absolventů na Právnické fakultě a&nbsp;na státní úrovni i Radou vysokých škol. v&nbsp;roce 2004 byl jeden z&nbsp;hlavních organizátorů studentských protestů proti praktikám tehdejšího ředitele Správy kolejí a&nbsp;menz, který byl po protestech propuštěn. Delší dobu také působil jako šéfredaktor Dioné.",
    pvileta: "Během studií na průmyslovce začal hrát nejprve v&nbsp;country skupině a&nbsp;později si zamiloval rock a&nbsp;začal hrát na elektrickou kytaru. " +
             "Nástup prvních 8-bitových počítačů zaujal Petrovu pozornost. Začal se o&nbsp;ně zajímat, začal se učit programovat a&nbsp;už u&nbsp;toho zůstal. Požádal o přeřazení na místo technika sálového počítače a&nbsp;později zastával i funkci programátora a&nbsp;vedoucího směny. " +
             "Po převratu v&nbsp;roce 1989 si založil živnost na prodej a&nbsp;opravy počítačů a&nbsp;programování. V&nbsp;červenci roku 2009 vstoupil do čerstvě založených Pirátů, protože volnost, svoboda a&nbsp;poctivost jsou i jeho životním krédem.",
    pkasik:  "Vyučil se v&nbsp;oboru Mechanik-opravář na SOU Oselce. Dále pak studoval obor Provozní technika, který zakončil v&nbsp;roce 2012 na SOUE Plzeň maturitou vyznamenáním. Poté začal studovat na Fakultě strojní ZČU, studium však nedokázal časově skloubit s rodinou a&nbsp;zaměstnáním, právě kvůli tomuto byl nucen v&nbsp;roce 2013 studium ukončit. Má v&nbsp;plánu ve VŠ studiu pokračovat. " +
             "Získal zkušenosti hlavně v&nbsp;technických profesích a&nbsp;logistice. V&nbsp;současnosti pracuje v&nbsp;oddělení řízení kvality u&nbsp;jedné mezinárodní společnosti zaměřené na automobilový průmysl.",
    pbohuslav: "Odmaturoval na Střední průmyslové škole elektrotechnické v&nbsp;Plzni. Nyní studuje na Fakultě elektrotechnické ZČU se zaměřením Komerční elektrotechnika a&nbsp;pracuje ve firmě Škoda JS v&nbsp;provozních prohlídkách. " +
               "Po dokončení Střední školy pracoval v&nbsp;lyžařské škole JPK Harrachov jako Lyžařský a&nbsp;Snow&shy;boardový Instruktor a&nbsp;nyní pracuje v&nbsp;JPK Klínovec v&nbsp;sezóně. Už od svých dětských let jezdí na Letní dětské tábory, kam nyní jezdí jako Oddílový vedoucí. " +
               "Pracuje také pro Stavovskou unii studentstva ZČU, kde organizuje projekty pro studenty (Plzeňský Majáles, Kapeláž, Prkna Neprkna, …).",
    vboucek: "Vystudoval obor Kybernetika a&nbsp;řídicí technika na ZČU. Byl doktorandem na Západočeské univerzitě v&nbsp;Plzni. Zastupoval studenty v&nbsp;předsednictvu AS Fakulty aplikovaných věd ZČU. " +
             "Jeho zájmy jsou procházky s dcerami, matematika, wei qi, zazen, Lisp, Chen Taijiquan a&nbsp;metoda Loci.",
    mdankova: "Vystudovala Pedagogickou fakultu aprobacii matematika a chemie. Nyní ještě učí na základní škole v Plzni. Cvičí bojové sporty korejské Taekwondo a čínské Wushu. Ráda cestuje, její neoblíbenější destinace jsou oblasti Indie a Nepálu, kde ráda objevuje nová místa, exotické chutě a poznává odlišné kultury. Ráda nakupuje na Internetu.",
    ajakl:   "Narodil se v&nbsp;Plané, maturoval na Gymnáziu Tachov. Vystudoval Lesnickou fakultu České zemědělské univerzity v&nbsp;Praze &mdash; Suchdole, kde získal titul lesní inženýr. Pracoval u&nbsp;obecních a&nbsp;státních lesů. Je svobodný, žije v&nbsp;Tachově. Ve volném čase se věnuje šachové trenérské činnosti a&nbsp;lesní pedagogice. Je hospodářem v&nbsp;tachovském šachovém klubu a&nbsp;členem sdružení Konopa z.s. " +
             "Mimo filosofie, literatury a&nbsp;politiky se zajímá i o zemědělství a&nbsp;lesnictví, a&nbsp;to zejména o jeho trvale udržitelné formy. Je spolu<wbr>autorem pro&shy;gramového bodu Země&shy;dělství. Má rád hudbu, šachy a&nbsp;svobodný Internet.",
    jhutter: "Vyučen v&nbsp;oboru Modelář. Vystudoval střední průmyslovou školu strojní v&nbsp;Plzni obor Počítačová podpora a výroba. V roce 2011 úspěšně absolvoval kombinované bakalářské studium VŠB – TU v&nbsp;Ostravě, obor Slévá&shy;renské technologie. " +
             "Je zaměstnán jako technolog ve firmě Pilsen Steel. " +
             "Ve volném čase se věnuje turistice, tvorbě 3D modelů na počítači a papírovému modelářství.",
    jrezek: "Vystudoval obor „Fyzika plazmatu a tenkých vrstev“ na Fakultě aplikovaných věd, ZČU v&nbsp;Plzni, kde získal titul Ing. a posléze i Ph.D. V sou&shy;čas&shy;nosti působí jako výzkumný pracovník na Evropském centru excelence NTIS - Nové technologie pro informační společnost na ZČU v&nbsp;Plzni. "+
            "Je toho názoru, že cokoliv je placené z&nbsp;veřejných zdrojů, musí být veřejnosti přístupné. Od znění smluv státních zakázek až po vědecké publikace. "+
            "Mezi jeho zájmy patří fotbal, florbal, fyzika a historie.",
    shaviar: "Studoval na gymnáziu v&nbsp;Klatovech a poté fyziku na Matfyzu na Univerzitě Karlově v&nbsp;Praze. Soustředil se na vývoj nových materiálů a jejich expertní analýzu. V tomto zaměření pokračuje i na své současné pozici výzkumníka a pedagoga na Západočeské univerzitě v&nbsp;Plzni (Fakulta aplikovaných věd, centrum NTIS). " +
             "Bydlí s rodinou v&nbsp;Klatovech. Je zakládajícím členem sdružení Ratolest – Spolek pro inovativní vzdělávání v&nbsp;Klatovech, který prosazuje a propaguje inovativní vzdělávací přístupy ve školách, organizuje přednášky a besedy na téma vzdělávání a snaží se přesvědčit město, že potřebuje demokratickou školu pro výchovu dětí do demokratické společnosti.",
     vkrutina: "Člen Pirátů",
     pkopac: "Bez politické příslušnosti",
     acernoch: "Člen Pirátů",
     mhuml: "Člen Pirátů",
     jcech: "Bez politické příslušnosti",
     jberkovec: "Člen Pirátů",
     mberanek: "Člen Pirátů",
     kvitovec: "Bez politické příslušnosti",
     mpotucek: "Člen Pirátů",
     aliska: "Bez politické příslušnosti",
     vvapenik: "Člen Pirátů",
     rmagni: "Člen Pirátů",
     oskaba: "Člen Pirátů",
     dnova: "Člen Pirátů",
     rvojta: "Bez politické příslušnosti",
     rmatin: "Bez politické příslušnosti"
  }

  candidateCity = {
    vkrutina: "Domažlice",
    pkopac: "Plzeň",
    acernoch: "Kasejovice",
    mhuml: "Hrádek (u Rokycan)",
    jcech: "Plzeň",
    jberkovec: "Plzeň",
    mberanek: "Dobřív",
    kvitovec: "Běšiny, okr. Klatovy",
    mpotucek: "Letkov",
    aliska: "Starý Plzenec",
    vvapenik: "Plzeň",
    rmagni: "Břasy, okr. Rokycany",
    oskaba: "Klatovy",
    dnova: "Stříbro",
    rvojta: "Plzeň",
    rmatin: "Vejprnice"
  };

  candidateLink = {
    lbarton: "lukas_barton",
    pvileta: "petr_vileta",
    pkasik: "pavel_kasik",
    pbohuslav: "petr_bohuslav",
    vboucek: "vaclav_boucek",
    mdankova: "magda_dankova",
    ajakl: "ales_jakl",
    jhutter: "jan_hutter",
    jrezek: "jiri_rezek",
    shaviar: "stanislav_haviar",
  }

  candidateImage = {
    lbarton: "lbarton.png",
    pvileta: "pvileta.jpg",
    pkasik: "pkasik.png",
    pbohuslav: "pbohuslav.jpg",
    vboucek: "vboucek.jpg",
    mdankova: "mdankova.png",
    ajakl: "ajakl.jpg",
    jhutter: "jhutter.png",
    jrezek: "jrezek.png",
    shaviar: "shaviar.png",
  }

  var mainCandidateList = [["lbarton", "pvileta"],
          ["pkasik", "pbohuslav"],
          ["vboucek", "mdankova"],
          ["ajakl", "jhutter"],
          ["jrezek", "shaviar"]];

  var theRest = ["vkrutina",
                "pkopac",
                "acernoch",
                "mhuml",
                "jcech",
                "jberkovec",
                "mberanek",
                "kvitovec",
                "mpotucek",
                "aliska",
                "vvapenik",
                "rmagni",
                "oskaba",
                "dnova",
                "rvojta",
                "rmatin"]

//- AMP rendering

mixin candidateAMP(key, i)
  .person(class= key)
    .ranking= "."
    amp-img(src="/img/candidates/" + key + ".png"  layout="responsive" height="300" width="300")
    h3= i+ ". " + candidateName[key]
      br
      small!= candidateShort[key]
    p!= candidateStory[key]

mixin kandidatiSectionAMP
  section#kandidati
    h2 Kandidáti
    -
      var i = 1;

    each pair in mainCandidateList
      +candidateAMP(pair[0], i++)
      +candidateAMP(pair[1], i++)
    each person in theRest
      +candidateSimpleAMP(person, i++)

mixin candidateSimpleAMP(key, i)
  h3= i+". " + candidateName[key]
    br
    small= candidateShort[key]
    br
    small= candidateCity[key]
    br
    small= candidateStory[key]

//- Normal rendering

mixin candidate(key, i, right)
  .row.person(class= key)
    .col-md-6(class= right? "col-lg-push-6":"")
      .img(data-src="/img/candidates/" + candidateImage[key]).lazy
      .ranking= i+"."
    .col-md-6(class= right? "col-lg-pull-6":"")
      h3= candidateName[key]
        br
        small!= candidateShort[key]
      p.text-justify!= candidateStory[key]
      //p.small
        a(href="https://www.pirati.cz/lide/"+candidateLink[key]) Více&hellip;

mixin candidateSimple(key, i)
  .row.personSimple
    .col-md-3
      h4= i+". " + candidateName[key]
    .col-md-3= candidateShort[key]
    .col-md-3= candidateCity[key]
    .col-md-3= candidateStory[key]

// section rendering
mixin kandidatiSection
  section#kandidati.container.content-section
    .row
      .col-md-6.col-md-offset-3
        h2 Kandidáti
    -
      var i = 1;

    each pair in mainCandidateList
      .row
        .col-lg-6
          +candidate(pair[0], i++)
        .col-lg-6
          +candidate(pair[1], i++, true)

    p.text-center
      button.btn-default.btn-lg(type="button" data-toggle="collapse" data-target="#otherCandidates" aria-expanded="false" aria-controls="otherCandidates")
        | Další kandidáti

    .collapse#otherCandidates
      each person in theRest
        +candidateSimple(person, i++)
