block pageMetadata
  -
    var pageDescription = "Objevte volitelnou stranu! Vše od profilů kandidátů, přes přehledné informace o financování až po podrobný program. Děkujeme za Vaše hlasy a podporu!",
        pageImageUrl = "https://plzensko.pirati.cz/img/logo.png",
        pageTitle = "Piráti v Plzeňském kraji - krajské volby 2016";

// Metadata
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
meta(name="description" content=pageDescription)
meta(name="keywords" content="Krajské volby,kampaň,Piráti,Pirátská strana")
meta(name="robots" content="index,follow")

// Twitter
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@PiratePartyCZ")
meta(name="twitter:creator" content="@kopacpetr")
meta(name="twitter:title" content=pageTitle)
meta(name="twitter:description" content=pageDescription)
meta(name="twitter:image" content=pageImageUrl)

// Facebook
meta(property="og:type"               content="website")
meta(property="og:title"              content=pageTitle)
meta(property="og:description"        content=pageDescription)
meta(property="og:image"              content=pageImageUrl)
meta(property="og:site_name"          content="Piráti Plzeňsko")
meta(property="og:locale"             content="cs_CZ")


// Styles
//link(rel="shortcut icon" href="/favicon.ico")
link(rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="/libs/bootstrap-social-buttons/social-buttons-3.css")
link(rel="stylesheet" type="text/css" href="/libs/startbootstrap-grayscale/css/grayscale.min.css")
link(href="https://fonts.googleapis.com/css?family=Armata:400italic,700italic,400,700|Andada:400italic,700italic,400,700&subset=latin-ext" rel="stylesheet" type="text/css")
link(rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet" type="text/css" href="/site.css")

// Client-side libraries
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/jquery-lazy/jquery.lazy.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/jquery-easing/jquery.easing.min.js")
script(src="/site.js")
